html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('../img/ia.jpg') no-repeat center center/cover;
  color: #333;
}

/* HEADER */
header {
  background-color: #15296c;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

header.hidden {
  transform: translateY(-100%);
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  position: relative;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 4px;
  transition: color 0.3s ease;
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

nav ul li a:hover {
  color: #bfcbf3;
}

nav ul li a:hover::after {
  width: 100%;
}

/* CONTAINER */
.container {
  background-color: #fff;
  max-width: 960px;
  width: 95%;
  margin: 80px auto 40px auto;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

 h1 {
      text-align: center;
      color: #15296c;
      margin-bottom: 40px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 30px;
    }

    .card {
      background-color: #f0f4f7;
      border-left: 5px solid #15296c;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card h2 {
      color: #457b9d;
      font-size: 1.4em;
      margin-bottom: 10px;
    }

    .card p {
      font-size: 0.98em;
      text-align: justify;
    }

footer {
  background: #15296c;
    color: #d9fcd9;
    font-size: 0.9rem;
    text-align: center;
    padding: 1rem 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 100%;

    /* remova margin-top para evitar espaçamento excessivo */
}

.footer-content {
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
  margin: 0;
    font-weight: 400;
    letter-spacing: 0.3px;
}